<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Aplicação</title>
    <link rel="stylesheet" type="text/css" href="static/mdl/material.css">
    <link rel="stylesheet" type="text/css" href="static/mdl/fonts/icon.css">
    <link rel="shortcut icon" type="image/ico" href="/static/favicon.ico"/>
    <script type="text/javascript" src="static/mdl/material.js"></script>
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row ">
                <span class="mdl-layout-title">Aplicação</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a href="/" class="mdl-navigation__link">Home</a>
                <a href="/users" class="mdl-navigation__link">Usuários</a>
                <a href="/relatorio" class="mdl-navigation__link">Relatórios</a>
            </nav>
        </div>
        <div class="mdl-layout__content">
            <main>
                {% block conteudo %}{% end %}
            </main>

            <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--bottom-section">
                    <span class="mdl-logo">Links Uteis</span>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">Canal no Youtube</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>