{% extends "base.html" %}
{% block conteudo %}
<h3>{{mensagem}}</h3>
<div class="mdl-grid">

    <div class="mdl-cell mdl-cell--6-col">
        <h3>Python</h3>
        <img src="/static/img/python-logo.png" />
        <div class="background-cinza">
            <ul>
                <li>Comunidade</li>
                <li>Programas Legíveis</li>
                <li>Integração com C</li>
            </ul>
        </div>
    </div>
    

    <div class="mdl-cell mdl-cell--6-col">
        <h3>Pypy</h3>
        <img src="/static/img/pypy-logo.png" />
        <div class="background-cinza">
            <ul>
                <li>JIT</li>
                <li>Velocidade</li>
                <li>Possibilidade de integrar com Stackless</li>
                <li>Sandbox</li>
            </ul>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--6-col">
        <h3>Cursos</h3>
        <div class="background-cinza">
            <h4>Python para Zumbis</h4>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6La690qlH5w?list=PLUukMN0DTKCtbzhbYe2jdF4cr8MOWClXc" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    

    <div class="mdl-cell mdl-cell--6-col">
        <h3>Comunidade</h3>
        <div class="background-cinza">
            <ul>
                <li>
                    <a href="http://python.org.br/">Python Brasil</a>
                </li>
                <li>
                    <a href="http://wiki.python.org.br/">Wiki Python Brasil</a>
                </li>
                <li>
                    <a href="http://pythonclub.com.br/">Python Club</a>
                </li>
                <li>
                    <a href="http://www.djangobrasil.org/">Django Brasil</a>
                </li>
                <li>
                    <a href="https://tutorial.djangogirls.org/pt/">Tutorial Django Girls</a>
                </li>
            </ul>
        </div>
    </div>

</div>
{% end %}